@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", serif;
}
button {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
button:hover{
    background: brown;
    transition: all 1s;
}
header {
  background: rgba(229, 84, 115, 0.1);
}
.container {
  width: 75%;
  max-width: 1440px;
}
.banner {
  display: flex;
  gap: 100px;
  align-items: center;
  margin: 0 auto;
}
.banner-content {
  max-width: 530px;
}
.banner-content *{
  margin-bottom: 30px;
}

.banner .banner-image {
  width: 100%;
  /* vertical-align: middle; */
}
.banner .banner-content h2 {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}
.banner .banner-content p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}
